.styled-hr {
    border: none;
    height: 2px;
    background-color: gainsboro;
    margin: 1px 0;
  }
  .cartoon{
    width:60px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color:white;
    padding: 10px;
    border-radius: 80px;
    bottom: 10px;
  }
  .img-hero{
    background-image: url("../images/cat-big.png");
   background-repeat: no-repeat;
    object-fit: cover;
   background-position: -40%;
   height: 750px;
   position: relative;
   margin-left: 85px;
   margin-right: 40px;
   margin-bottom: 70px;
   background-position: center;
  }
 